/deprecated
/custom_ppocr
/mlruns
*mlruns
*.ckpt
*lightning_logs
*raw
*.zip
*.pt
*.png
*.pth
*mlflow_test
__pycache__
/home/ubuntu/user/jihye.lee/ocr_exp_v1/outputs/*
/outputs
*.jpg
/home/ubuntu/user/jihye.lee/ocr_exp_v1/artifacts/*
/artifacts
/results
venv/*
new_pytorch/*
/home/ubuntu/user/jihye.lee/ocr_exp_v1/text_detection/venv/*
/home/ubuntu/user/jihye.lee/ocr_exp_v1/text_detection/new_pytorch/*